/*
Placeholder manifest file.
the installer will append this file to the app vendored assets here: 'vendor/assets/stylesheets/spree/frontend/all.css'
*/

.blog_author_info {
  margin-bottom: 30px;
}
.blog_entry_body {
  margin: 20px 0;
}
.blog_entry_summary{
  margin: 10px 0;
}
ul#blog_entry_entries {
  list-style: none;

  li { margin-bottom: 20px; }
}

/* tag cloud widget */
.blog_tag_cloud {
  margin-bottom: 10px;

  li { display: inline-block; }
  .css1 { font-size: 1.0em; }
  .css2 { font-size: 1.2em; }
  .css3 { font-size: 1.4em; font-weight: bold; }
  .css4 { font-size: 1.8em; font-weight: bold; }
}

/* recent blog entries widget */
.recent_blog_entries { 
  margin-bottom: 10px;

  .blog_entry_date {
    font-style: italic;
    font-size: 80%;
    margin-left: 10px;
  }
}

/* news archive widget */
#news-archive {
  list-style: none;

  a { font-weight: bold; }
  ul { 
    list-style: none;
    margin-left: 16px;
  }
  ul ul { 
    list-style: none; 
    margin-left: 24px;

    a { font-weight: normal; }
  }
  span { cursor: pointer; }
}


#blog_entry_container {
  .blog-title{
    line-height:45px;
  }
  .latest-blog-row{
    margin-bottom: 50px;
  }
  .latest-blogs h1{
    margin-top:50px;
    font-size:22px;
    margin-bottom: 60px;
    margin-bottom: -33px;
    margin-top: 120px;
  }
  .latest-blogs h1:after{
    content: '';
    display: block;
    width: 84px;
    margin: 5px auto;
    border-top: solid 1px #EC7743;
    right: 0;
    padding-top: 73px;
  }

  strong{
    font-weight: bold;
  }
  ul li a:hover{
    color: #f84164;
    text-decoration: none;
  }
  ul li a{
    border-bottom: 2px solid #f84164;
  }
  .m-popular:after {
    content: '';
    display: block;
    width: 40px;
    border-top: solid 1px #EC7743;
    left: 0;
    top: calc(100% + 5px);
    margin: 5px auto;
  }
  font-family: 'Georgia';
  font-size: 17px;
  line-height: 28px;
  h1 { font-size: 30px; }
  h2 { font-size: 24px; }
  h3 { font-size: 20px; }
  h4 { font-size: 19px; }
  .card-tinymce {
    padding-left: 5px;
    padding-right: 5px;
    .light h5 {
      margin-top: 0px;
    }
  }
  .blog_entry_body p img{
    width:65%;
  }
  center h5 {
    font-size:18px;
    font-weight:bold;
  }
  .rec-col-a {
    margin-top: 10px;
  }
  .small-title {
      color: #555;
      max-height: 6.2em;
      line-height: 1.5em;
      overflow: hidden;
      font-size: 14px;
      font-weight: bold;
  }
  .img-small {
    object-fit: cover;
    height: 100px;
    width: 100%;
  }
  .half-card-carousel {
    padding-top: 0px;
    .itle-carousel {
      font-weight: bold;
    }
  }
  .im {
    background-size: 100% 100%;
    height: 288px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .card {
    transition: all 0.2s ease-out;
    background-color: white;
    margin-top: 25px;
    border: solid 1px #ddd;
    box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.1);
  }
  .no-a {
    text-decoration: none;
  }
  .img-prefill-portrait {
    width: 100%;
  }
  .latest-blogs h1 {
    font-size:16px;
    font-weight:bold;
  }

  .blog_entry {
    .title {
      margin-top: 10px;
      margin-bottom: 10px;
      font-weight: bold;
      line-height: 20px;
    }
    .summary {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .light{
      margin: 30px 0;
    }
    .light h5 {
      font-size: 13px;
    }
    .blog-image {
      display: block;
      margin-left: auto;
      margin-right: auto;
      height: 288px;
    }
    .card-static {
      background-color: white;
      border-radius: 3px;
      margin-top: 25px;
    }
    .padding-30-30 {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
}

@media only screen and (min-width : 768px) {
  #blog_entry_container {
    .small_blog_entry img {
      height: 220px!important;
    }
    .rs-title {
      margin-top: 10px !important;
      margin-bottom: 10px !important;
      font-weight: bold !important;
      line-height: 30px !important;
      height: 90px;
    }
  }
}

@media only screen and (min-width : 320px) {
  #blog_entry_container {
    .small_blog_entry img {
      height: 140px!important;
    }
    strong{
      font-weight: bold;
    }
    ul li a:hover{
      color: #f84164;
      text-decoration: none;
    }
    ul li a{
      border-bottom: 2px solid #f84164;
    }
    .m-popular:after {
      content: '';
      display: block;
      width: 40px;
      border-top: solid 1px #EC7743;
      left: 0;
      top: calc(100% + 5px);
    }
    .rs-title {
      margin-top: 10px !important;
      margin-bottom: 10px !important;
      font-weight: bold !important;
      line-height: 30px !important;
    }
    .blog_entry_body p img{
      width: 100%;
    }
  }
}


@media only screen and (min-width : 992px) {
  #blog_entry_container {
    .rec-col {
      padding-left: 80px;
      top: -37px;
    }
    .im {
      height: 600px;
    }
    .blog_entry_body p img{
      width: 65%;
    }
  }
}
