<div id="blog_entry_container" class="infinite-grid">
  <%= blog_entries_slider(@blog_entries[0..2]) %>
  <% if @blog_entries[3].present? %>
    <div class="text-center latest-blogs">
      <h1>LATEST BLOGS</h1>
      <%= render 'spree/blog_entries/index/blog_entries', blog_entries: @blog_entries[3..8] %>
    </div>
    <div class="row paginate">
      <%= paginate @blog_entries %>
    </div>
  <% elsif @blog_entries.blank? %>
    <p id="no_entries"><%= Spree.t(:no_blog_entries) %></p>
  <% end %>
</div>
